.font {
  font-family: 'PingFang SC', sans-serif;
}

.box-sizing {
  box-sizing: border-box;
}

.wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border-radius(@radius) {
  border-radius: @radius;
}

.box-shadow(@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
}

.scrollbar(@x: hidden, @y: overlay) {
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgb(173 178 194 / 60%) rgb(255 255 255 / 0%);

  &:hover {
    overflow-x: scroll;
    overflow-x: @x;
    overflow-y: scroll;
    overflow-y: @y;
  }

  &::-webkit-scrollbar {
    appearance: none;
    background: transparent;
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track-piece {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(173 178 194 / 60%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(123 129 156 / 60%);
  }
}
