.font {
  font-family: 'PingFang SC', sans-serif;
}

.box-sizing {
  box-sizing: border-box;
}

.wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@x: 0, @y: 0, @blur: 1px, @color: #000) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
